{%- if site.theme == "glassmorphism" -%}
  {%- include "themes/glassmorphism-vars.njk" -%}
{%- elif site.theme == "neo-brutalist" -%}
  {%- include "themes/neo-brutalist-vars.njk" -%}
{%- else -%}
  {%- include "themes/clinical-vars.njk" -%}
{%- endif -%}
