{%- if site.theme == "glassmorphism" -%}
  {%- include "themes/glassmorphism-vars.njk" -%}
{%- elif site.theme == "neo-brutalist" -%}
  {%- include "themes/neo-brutalist-vars.njk" -%}
{%- elif site.theme == "warm-minimal" -%}
  {%- include "themes/warm-minimal-vars.njk" -%}
{%- elif site.theme == "plutus" -%}
  {%- include "themes/plutus-vars.njk" -%}
{%- else -%}
  {%- include "themes/clinical-vars.njk" -%}
{%- endif -%}
